<link rel="stylesheet" href="css/home.css">

<div class="card">
  <header class="card-header">
     <h1 class="title card-header-title">{{t "home.title"}}</h1>
  </header>
  <div class="card-content">
    <div class="content">
      <article class="message is-warning">
        <div class="message-body" role="alert">
          <div class="alertText">
            <div class="columns is-multiline">
              <div class="column">
                <i class="fas fa-3x fa-fw fa-exclamation-triangle float-left"></i>
                {{t "home.info"}}
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label>
            <i class="far fa-calendar-alt"></i> {{t "home.date"}}
          </label>
          <div class="control">
            <input type="date" class="input is-rounded" id="inputDate" placeholder={{t "home.date"}}>
          </div>
        </div>

        <div class="field">
          <label>
            <i class="fas fa-user"></i> <i class="fas fa-phone"></i> {{t "home.orderstarter"}}
          </label>
          <div class="control">
            <input type="text" class="input is-rounded" id="inputName" placeholder={{t "home.orderstarter"}}>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label>
            <i class="far fa-clock"></i> {{t "home.pickuptime"}}
          </label>
          <div class="control">
            <input type="text" class="input is-rounded" id="inputCollectTime" placeholder={{t "home.pickuptime"}}>
          </div>
        </div>

        <div class="field">
          <label>
            <i class="fas fa-people-carry"></i> {{t "home.collector"}}
          </label>
          <div class="control">
            <input type="text" class="input is-rounded" id="inputCollector" placeholder={{t "home.collector"}}>
          </div>
        </div>
      </div>
    </div>



    <hr />

    <button type="button" class="button is-success no-print" id="btnOpenAddOrder">
      <i class="fas fa-cart-plus fa-fw"></i>{{t "home.orderlist.neworder"}}
    </button>

    <div class="table-container">
    <table id="orderTable" class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>#</th>
          <th><i class="fas fa-user"></i> {{t "home.orderlist.name"}}</th>
          <th><i class="fas fa-box"></i> {{t "home.orderlist.order"}}</th>
          <th><i class="fas fa-search"></i> {{t "home.orderlist.size"}}</th>
          <th><i class="far fa-comment"></i> {{t "home.orderlist.comment"}}</th>
          <th><i class="fas fa-money-bill-alt"></i> {{t "home.orderlist.cost"}}</th>
          <th><i class="fas fa-money-bill-alt"></i> {{t "home.orderlist.prepaid"}}</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th><i class="fas fa-money-bill-alt"></i> {{t "home.orderlist.sumtopay"}}:</th>
          <th><span id="sumtopay"></span></th>
          <th><span id="sumprepaid"></span></th>
        </tr>
      </tfoot>
      <tbody id="orderTableBody">
      </tbody>
    </table>
    </div>
  <footer class="card-footer">
  </footer>
</div>

{{> addOrderModal}}
{{> verifyClearListModal}}
{{> trollModal}}

<script src="dist/home.bundle.js"></script>
